body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    text-align: center;
    padding: 0px;
}

h1 {
    color: #000000;
}

.contenedor-columnas {
    margin-top: 20px; /* ajusta el valor según sea necesario */
}

.naranjo-01 {
    background-color: #FF8C42;

}

.naranjo-02 {
    background-color: #FF8C42;

}
.naranjo-02:hover {
    background-color: #FFA07A;
    border-color: #FFA07A;
}

.gris-oscuro {
    color: #000000;
    text-decoration: none;
}

.gris-oscuro:hover {
    color: #333;
    text-decoration: none;
}

.border-0 {
    border: none;
  }


body {
    background-image: url('imagenes/fondo_pastillas.png');
    background-size: cover;
    background-position: center;
  }
  .texto_01 {
    text-align: left; /* Alineación a la izquierda */
    margin: 10px 0;
}

/* Estilo opcional para mejorar la alineación de la barra de búsqueda */
.nav-item .form-control {
    width: 200px; /* Ajusta el ancho según prefieras */
  }
  .nav-item .btn {
    border: none;
    background-color: transparent;
    padding: 0;
  }




/* Estilo para los formularios */
form {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-size: 1.1rem;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
}


/* Estilo para los botones */
button {
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #FF8C42;
    color: white;
}

button[type="submit"]:hover {
    background-color: #FFA07A;
}



/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .form-control {
        width: 100%;
    }

    h2 {
        font-size: 1.8rem;
    }

    .btn {
        width: 100%;
    }
}


